.manage-table.pt-5
  .container
    %h1.mb-1 Ponds
    .row.col-md-6.col-md-offset-2.custyle
    %table.table.table-striped.custab
      %tr
        %th Uuid
        %th Postal code
        %th City
        %th Region
        %th Country
        %th Key
        %th
      %tbody
        - @ponds.each do |pond|
          %tr
            %td= pond.uuid
            %td= pond.postal_code
            %td= pond.city
            %td= pond.region
            %td= pond.country
            %td= pond.key
            %td= link_to 'Show', manage_pond_path(pond.key)
