.manage-table.pt-5
  .container
    %h1.mb-1
      Stories |
      = link_to new_manage_story_path do
        %i.bi.bi-pencil-square
    .row.col-md-6.col-md-offset-2.custyle
    %table.table.table-striped.custab#storiesTable
      %tr
        %th Title
        %th Body
        %th Pond key
        %th Uuid
        %th Ripple Uuid
        %th
        %th
        %th
      %tbody
        - @stories.each do |story|
          %tr
            %td= story.title
            %td= story.body
            %td= story.pond_key
            %td= story.uuid
            %td= story.ripple_uuid
            %td= link_to 'Show', manage_story_path(story.uuid)
            %td= link_to 'Edit', edit_manage_story_path(story.uuid)
            %td= link_to 'Destroy', manage_story_path(story.uuid), method: :delete, data: { confirm: 'Are you sure?' }

