= form_for @tag, url: manage_tag_path(@tag) do |f|
  - if @tag.errors.any?
    #error_explanation
      %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
      %ul
        - @tag.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :organization
    = f.select :organization_id, @organizations.map { |org| [org.name, org.id] }
  .actions
    = f.submit 'Save'
