= form_for @pond_batch_record do |f|
  - if @pond_batch_record.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pond_batch_record.errors.count, "error")} prohibited this pond_batch_record from being saved:"
      %ul
        - @pond_batch_record.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :organization
    = f.text_field :organization
  .field
    = f.label :amount
    = f.number_field :amount
  .field
    = f.label :key
    = f.text_field :key
  .actions
    = f.submit 'Save'
