%h1 Listing organizations

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Address
      %th Website
      %th
      %th
      %th

  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.name
        %td= organization.description
        %td= organization.address
        %td= organization.website
        %td= link_to 'Show', manage_organization_path(organization.name)
        %td= link_to 'Edit', edit_manage_organization_path(organization.name)
        %td= link_to 'Destroy', manage_organization_path(organization), method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Organization', new_manage_organization_path
