%p
  %b Name:
  = @organization.name
%p
  %b Description:
  = @organization.description
%p
  %b Address:
  = @organization.address
%p
  %b Website:
  = @organization.website

%p
  %b Logo:
  - if @organization.image.attached?
    = image_tag @organization.image
  - else
    = image_tag asset_path('logo_default')

= link_to 'Edit', edit_manage_organization_path(@organization.name)
\|
= link_to 'Back', manage_organizations_path
