.pond-jumbotron
  .container
    .row.custom-section.d-flex.align-items-start
      .col-12.col-lg-10
        -# %h1.fw-bol.tron-text{ style: 'font-weight: bold; font-size: 65px'} Donate. Participate through giving
        -# = link_to 'Give to ThePondProject', root_path, class:'btn btn-primary'

.ponds 
  .container#grid
    - @ponds.each do |pond|
      = link_to pond_path(pond.key) do
        .col-sm-4.profile
          .border-background
            .card{ style: 'border: 2px solid #E7F2F6;' } 
              .card__top
                %span= pond.key
                %span Key
              .card__bottom
                %div
                  %div Impact 
                  %div= pond.impact
                %div
                  %div International
                  %div= pond.international_impact
                %div
                  %div Domestic
                  %div= pond.domestic_impact