.ripples-bg-color
- if @ponds.count.zero?
  .container.w-50.mt-5.py-5
    .container.text-center
      %h1{ style: 'color: #78b14f'} noting to see here....
      %em.text-muted No ponds have been created yet but, when they are they will show up here.
    %div{:style => "width:100%;height:0;padding-bottom:75%;position:relative;"}
      %iframe.giphy-embed{:allowfullscreen => "", :frameborder => "0", :height => "100%", :src => "https://giphy.com/embed/a93jwI0wkWTQs", :style => "position:absolute", :width => "100%"}
      %p
        %a{:href => "https://giphy.com/gifs/dl-a93jwI0wkWTQs"} via GIPHY
- else
  .contianer.mt-5.text-center
    %h1{ style: 'color: #1484ac'}Ponds
    %em.text-muted A Pond represents a single act of KindCard. Each time a KindCard is created a new Pond is recorded.

  .container.my-5
    .row
      .col-lg-4.justify-content-center
        .my-4
          .row.px-3{ style: 'color: #edc06d'}
            %span.material-symbols-outlined.material-icons.pt-3{ style: 'font-size: 2em'} data_usage
            %h3.m-2 Quick Stats
          %hr 
          .row.px-3
            %p
              %strong Total Ponds:
              = Pond.count
          .row.px-3
            %p
              %strong The last Ripple of Kindness was:
              = Ripple.ripple_since
          .row.px-3
            %p
              %strong The last KindCard Release was:
              = Release.last.created_at.strftime('%B %d, %Y')
            -# Stat.recently_active_ponds(3)
      .col-lg-8.justify-content-center
        .flex
        - @ponds.each do |pond|
          = link_to pond_path(pond) do
            .card.my-4{style: 'width: 100%;'}
              %iframe.card-img-top{allowfullscreen: '', frameborder: '0', height: '540', src: "https://www.google.com/maps/embed/v1/place?key=#{EnvSecret.get('GOOGLE_MAPS_API_KEY')}&q=#{pond.full_location}", style: 'border:0', width: '100%', loading: 'lazy'}
              .card-body
                %p.my-4.pb-1.text-muted.card-text.text-center
                  = pond.full_location
                .row{ style: 'color: #1484ac'}
                  .col.text-center
                    %i.bi.bi-calendar3{ style: 'font-size: 2em'}
                    %p Created
                    %p= pond.created_at.strftime('%B %d, %Y')
                  .col.text-center
                    %i.bi.bi-droplet-fill{ style: 'font-size: 2em'}
                    %p Impact
                    %p= pond.impact
                  .col.text-center
                    %i.bi.bi-flag-fill{ style: 'font-size: 2em'}
                    %p Domestic Impact
                    %p= pond.domestic_impact
                  .col.text-center
                    %span.material-symbols-outlined.material-icons{ style: 'font-size: 2em'} public
                    %p International Impact
                    %p= pond.international_impact
