-# .pond-jumbotron
-#   .container
-#     .row.custom-section.d-flex.align-items-start
-#       .col-12.col-lg-10
-#         -# %h1.fw-bol.tron-text{ style: 'font-weight: bold; font-size: 65px'} Donate. Participate through giving
-#         -# = link_to 'Give to ThePondProject', root_path, class:'btn btn-primary'

-# .ponds 
-#   .container#grid
-#     - @ponds.each do |pond|
-#       = link_to pond_path(pond.key) do
-#         .col-sm-4.profile
-#           .border-background
-#             .card{ style: 'border: 2px solid #E7F2F6;' } 
-#               .card__top
-#                 %span= pond.key
-#                 %span Key
-#               .card__bottom
-#                 %div
-#                   %div Impact 
-#                   %div= pond.impact
-#                 %div
-#                   %div International
-#                   %div= pond.international_impact
-#                 %div
-#                   %div Domestic
-#                   %div= pond.domestic_impact

.ponds.pt-5
  .container
    .jumbotron
      %h1{ style: 'color: #1484ac'}= "#{Pond.count} Ponds"
      %h5{ style: 'color: #edc06d'}= "#{Ripple.count} Ripples of Kindness and counting!"
      %p{ style: 'color: #7f8285'} Each Pond represents a single KindCard. The ripples represent every act of kindness that was done as that KindCard is being passed around. Click on a Pond to get stats and history about it and its ripples.

.container
  .row
    .col-lg-12
      .main-box.clearfix
        .table-responsive
          %table.table.user-list
            %thead
              %tr
                %th
                  %span Pond Key
                %th.text-center
                  %span Created
                %th.text-center
                  %span Ripples
                %th
                  %span Last active 
                %th  
            %tbody
              - @ponds.each do |pond|
                = link_to pond_path(pond.key) do
                  %tr
                    %td
                      %p.user-link= link_to pond.key, pond_path(pond.key)
                    %td.text-center
                      = local_time_ago(pond.created_at)
                    %td.text-center= pond.ripples.count 
                    %td=pond.ripple_since
        %ul.pagination.pull-right
          %li
            %a{:href => "#"}
              %i.fa.fa-chevron-left
          %li
            %a{:href => "#"} 1
          %li
            %a{:href => "#"} 2
          %li
            %a{:href => "#"} 3
          %li
            %a{:href => "#"} 4
          %li
            %a{:href => "#"} 5
          %li
            %a{:href => "#"}
              %i.fa.fa-chevron-right
