%p#notice= notice
%h2
  = @pond.key

- if @pond.postal_code
  %p
    %b Postal code:
    = @pond.postal_code
- if @pond.city
  %p
    %b City:
    = @pond.city
- if @pond.region
  %p
  - if @pond.domestic?
    %b State:
    = @pond.region
  - else
    %b Region:
    = @pond.region
  
- if @pond.country
  %p
    %b Country:
    = @pond.country
  %p
    %b Created: 
    = local_time_ago(@pond.created_at)

%h4 Ripples

%ul
- @ripples.each do |ripple|
  %li= ripple.uuid
  
\|
= link_to 'Back', ponds_path
