%h1 Listing ripples

%table
  %thead
    %tr
      %th Uuid
      %th Postal code
      %th City
      %th Country
      %th Region
      %th Pond
      %th
      %th
      %th

  %tbody
    - @ripples.each do |ripple|
      %tr
        %td= ripple.uuid
        %td= ripple.postal_code
        %td= ripple.city
        %td= ripple.country
        %td= ripple.region
        %td= link_to ripple.pond_key, pond_path(ripple.pond_key)
        %td= link_to 'Show', ripple_path(ripple.pond_key, ripple.uuid)