= form_for @bill, url: manage_bill_path(@bill) do |f|
  - if @bill.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bill.errors.count, "error")} prohibited this bill from being saved:"
      %ul
        - @bill.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :recurrence
    = f.select :recurrence, @recurrence.map { |rec, val| [rec, val] }
  .field
    = f.label :expense_type
    = f.select :expense_type, @expense_type.map { |type, val| [type, val] }
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :paid
    = f.check_box :paid
  .field
    = f.label :due
    = f.datetime_select :due_at
  .field
    = f.label :document
    = f.file_field :document
  .actions
    = f.submit 'Save'
