.manage-table.pt-5
  .container
    %h1.mb-1
      Bills |
      = link_to new_manage_bill_path do
        %i.bi.bi-pencil-square
    .row.col-md-6.col-md-offset-2.custyle
    %table.table.table-striped.custab
      %tr
        %th Name
        %th Recurrence
        %th Type
        %th Amount
        %th Paid
        %th Due
        %th
        %th
        %th
      %tbody
        - @bills.each do |bill|
          %tr
            %td= bill.name
            %td= bill.recurrence
            %td= bill.expense_type
            %td= bill.amount
            %td= bill.paid
            %td= bill.due_at
            %td= link_to 'Show', manage_bill_path(bill)
            %td= link_to 'Edit', edit_manage_bill_path(bill)
            %td= link_to 'Destroy', manage_bill_path(bill), method: :delete, data: { confirm: 'Are you sure?' }

