.container.pt-5
  %h1
    = @release.name 
    = link_to edit_manage_organization_release_path(@organization, @release) do
      %i.bi.bi-pencil-square
  %p
    = @release.description


  - if @release.pond_batch_records.present?
    .manage-table.pt-5
    .container
      %h4.mb-1
        Batch Records
      .row.col-md-6.col-md-offset-2.custyle
      %table.table.table-striped.custab
        %tr
          %th CSV
          %th QR Codes
          %th Created
        %tbody
          -  @release.pond_batch_records.reverse.each do |batch_record|
            - if batch_record.csv_file.attached?
              %tr
                %td= link_to batch_record.csv_file.filename, url_for(batch_record.csv_file)
                - if batch_record&.zip_file&.attached?
                  %td= link_to batch_record.zip_file.filename, url_for(batch_record.zip_file)
                - else
                  %td No zip file available
                %td= batch_record.created_at.to_date

  - if @release.ponds.present?
    .manage-table.pt-5
    .container
      %h4.mb-1
        Ponds
      .row.col-md-6.col-md-offset-2.custyle
      %table.table.table-striped.custab
        %tr
          %th Key
          %th UUID
          %th Location
          %th Created
          %th
          %th
          %th
        %tbody
          - @release.ponds.each do |pond|
            %tr
              %td= pond.key
              %td= pond.uuid
              %td= pond.full_location
              %td= pond.created_at.to_date
              %td= link_to 'Show', manage_pond_path(pond)
              %td= link_to 'Edit', edit_manage_pond_path(pond)
              %td= link_to 'Destroy',manage_pond_path(pond), method: :delete, data: { confirm: 'Are you sure?' }