= form_for @tag do |f|
  - if @tag.errors.any?
    .container
      #error_explanation
        %h2= "#{pluralize(@tag.errors.count, "error")} prohibited this tag from being saved:"
        %ul
          - @tag.errors.full_messages.each do |message|
            %li= message


  .form-group
    .container
      %hr
      .row.m-3 
        .col-md-4.col-md-6.pt-4
          = f.text_field :name, placeholder: '#missionforkindness', class: 'form-control', required: true
        .col-md-4.col-md-6.pt-4
          = f.text_field :description, placeholder: 'A tag to support a mission for kindness', class: 'form-control', required: true
      .row.m-3
        .actions.m-3
          = f.submit 'Submit', class: 'btn btn-outline-primary'

