.manage-table.pt-5
  .container
    %h1.mb-1 Ripples
    .row.col-md-6.col-md-offset-2.custyle
    %table.table.table-striped.custab
      %tr
        %th Uuid
        %th Postal code
        %th City
        %th Country
        %th Region
        %th Pond
        %th  
      %tbody
        - @ripples.each do |ripple|
          %tr
            %td= ripple.uuid
            %td= ripple.postal_code
            %td= ripple.city
            %td= ripple.country
            %td= ripple.region
            %td= link_to ripple.pond_key, manage_pond_path(ripple.pond_key)
            %td= link_to 'Show', manage_pond_ripple_path(ripple.pond_key, ripple.uuid)


