.manage-table.pt-5
  .container
    %h1.mb-1
      Tags |
      = link_to new_manage_tag_path do
        %i.bi.bi-pencil-square
    .row.col-md-6.col-md-offset-2.custyle
    %table.table.table-striped.custab
      %tr
        %th Name
        %th Description
        %th Organization
        %th Approval
        %th Action
        %th
        %th
        %th
      %tbody
        - @tags.each do |tag|
          %tr
            %td= tag.name
            %td= tag.description
            %td= link_to tag.organization.name, manage_organization_path(tag.organization)
            - if tag.approved
              %td Approved
            - elsif tag.approved.nil?
              %td Pending Review
            - else
              %td Disapproved
            - if tag.approved
              %td= link_to 'Disapprove', manage_tag_path(tag, { tag: tag.attributes.slice(:approved).merge('approved'=> false) }), method: :patch, data: { confirm: 'Are you sure you?' }
            - else
              %td= link_to 'Approve',  manage_tag_path(tag, { tag: tag.attributes.slice(:approved).merge('approved'=> true) }), method: :patch, data: { confirm: 'Are you sure you?' }
            %td= link_to 'Show', manage_organization_tag_path(tag.organization, tag)
            %td= link_to 'Edit', edit_manage_tag_path(tag)
            %td= link_to 'Destroy', manage_tag_path(tag), method: :delete, data: { confirm: 'Are you sure?' }
