= form_for @ripple, url: pond_ripples_path(@pond, @ripple) do |f|
  - if @ripple.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ripple.errors.count, "error")} prohibited this ripple from being saved:"
      %ul
        - @ripple.errors.full_messages.each do |message|
          %li= message

  .field
    = f.hidden_field :pond_id, value: @pond.id

  %h5.mb-1 
    Select up to
    %strong 3
    tags to record with your act of kindness. 
  %p.text-muted.p-0
    The current time will be reccorded as when then the act took place and the current city you are in will be recorded as the location. 
    %strong Temporarily disable your VPN if one is enabled for accurate recording.

  %hr

  .container.bg-light.p-3
    %h5 
      %em{ style: 'color: #1484ac'}Get a text alerts 
      everytime your KindCard is passed on
    %input{type: "text_field", name: 'phone_number', class: 'form-control', placeholder: 'example: 6149901234'}
    %hp.text-muted *we will only text you about the activity of your KindCard. We will NEVER share your information, ask you to buy or donate anything via text.

  .mt-5.tags-form
    %ul.tags.mt-4
      - @tags.each do |tag| 
        %li.mx-3
          %label
            %input{type: "checkbox", name: 'ripple[tags][]', class: 'custom-tag-checkbox', value: tag.id, hidden: true }
            %span.tag_style
              =tag.name
              %span.blue-span

    .row.m-3 
      .actions  
        = f.submit 'Record', class: 'btn btn-outline-primary p-1'


  %hr

  %h5.pt-5 
    We want to hear your
    = link_to new_story_path do
      %em{ style: 'color: #1484ac'} StoryOfKindness 
  %p 
    We would love to hear from you. Share a story about how you recieved kindness or how you passed it on. Write a
    = link_to 'Story of Kindness', new_story_path


.push-footer.mb-5
