%h3 Tags 
- @ripple.tags&.each do |tag|
  = tag.name

%p
  %b Pond:
  = link_to @ripple.pond_key, pond_path(@ripple.pond_key)

- if @ripple.postal_code
  %p
    %b Postal code:
    = @ripple.postal_code
- if @ripple.city
  %p
    %b City:
    = @ripple.city
- if @ripple.region
  %p
  - if @ripple.domestic?
    %b State:
    = @ripple.state
  - else
    %b Region:
    = @ripple.region
  
- if @ripple.country
  %p
    %b Country:
    = @ripple.country

\|
= link_to 'Back', ripples_path
