%nav.navbar.navbar-expand-lg.navbar-light.shadow-sm.fixed-top.bg-navbar
  = link_to image_tag('thepondproject.png', style: ' height: 30px'), manager_root_path, class: 'navbar-brand d-flex align-items-center'
  %button.navbar-toggler.navbar-toggler-right.border-0{"data-target" => "#navbar4", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbar4.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto.mt-3.mt-lg-0
      %li.nav-item.px-lg-2
        = link_to 'Impact', impact_path, class: 'nav-link'
        %span.d-inline-block.d-lg-none.icon-width>
          %i.far.fa-user
      %li.nav-item.px-lg-2
        = link_to 'Ponds', manage_ponds_path, class: 'nav-link'
      %li.nav-item.px-lg-2
        = link_to 'Organizations', manage_organizations_path, class: 'nav-link'
        %span.d-inline-block.d-lg-none.icon-width>
          %i.far.fa-user
      %li.nav-item.px-lg-2
        = link_to 'Bills', manage_bills_path, class: 'nav-link'
        %span.d-inline-block.d-lg-none.icon-width>
          %i.far.fa-user
      %li.nav-item.px-lg-2
        = link_to 'Tags', manage_tags_path, class: 'nav-link'
        %span.d-inline-block.d-lg-none.icon-width>
          %i.far.fa-user
    %ul.navbar-nav.ml-auto.mt-3.mt-lg-0
      - if user_signed_in?
        %li.nav-item.px-lg-2
          = link_to 'Edit Account', edit_user_registration_path 
          %span.d-inline-block.d-lg-none.icon-width>
            %i.far.fa-user
        %li.nav-item.px-lg-2
          = link_to 'Logout', destroy_user_session_path, method: :delete
          %span.d-inline-block.d-lg-none.icon-width>
            %i.far.fa-user
      - else
        %li.nav-item.px-lg-2
          = link_to 'Login', new_user_session_path
          %span.d-inline-block.d-lg-none.icon-width>
            %i.far.fa-user